.container {
  padding: 1rem;
  background-color: #7c8e9d; /* Azul muy claro */
  font-family: Arial, sans-serif;
}

.backButton {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.detailContainer {
  display: flex;
  gap: 1rem;
}

.leftColumn {
  flex-basis: 30%;
  padding: 1rem;
  border: 1px solid #0077cc;
  border-radius: 4px;
  background-color: #a4aeb9;
}

.rightColumn {
  flex-basis: 70%;
  padding: 1rem;
  border: 1px solid #0077cc;
  border-radius: 4px;
  background-color: #a4aeb9;
}

.mainImageContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.noImage {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.thumbnail {
  width: 48%;
  border: 1px solid #0077cc;
  border-radius: 4px;
}

.productName {
  color: #003366;
  margin-bottom: 0.5rem;
}

.caracteristicasList {
  list-style: none;
  padding-left: 0;
}

.caracteristicasList li {
  margin-bottom: 0.3rem;
}

.codes {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.barcode, .qrcode {
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.adjustButton,
.editButton,
.deleteButton {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.adjustButton {
  background-color: #0077cc;
}

.editButton {
  background-color: #28a745;
}

.deleteButton {
  background-color: #dc3545;
}
/* Estilos para el formulario de ajuste */
.adjustForm {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8fcff;
  border: 1px solid #0077cc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.adjustForm select,
.adjustForm input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #0077cc;
  border-radius: 4px;
  width: 150px;
}

.adjustFormButtons {
  display: flex;
  gap: 0.8rem;
}

.applyButton {
  background-color: #0077cc;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.cancelButton {
  background-color: #6c757d;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}